.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(0, 0, 0, 0.69);
  margin-top: 88px;
}
.courses__title {
  margin-bottom: 51px;
}
.courses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 44px;
  margin: 0 36px 76px;
}
.courses__item {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.courses__item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.courses__item:hover .courses__description {
  color: rgba(0, 0, 0, 0.89);
}
.courses__picture {
  width: 340px;
  min-width: 340px;
  height: 241px;
  min-height: 241px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.52);
}
.courses__description {
  margin-top: 14px;
  color: rgba(0, 0, 0, 0.69);
}
.courses__where {
  max-width: 340px;
  margin-bottom: 18px;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
}
.courses__profession {
  max-width: 340px;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}
.courses__no-title {
  margin-top: auto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}
.courses__no-description {
  margin-bottom: auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
}
@media screen and (max-width: 960px) {
  .courses__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 36px;
  }
  .courses__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .courses__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 12px;
  }
  .courses__item-no {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .courses__description {
    width: auto;
    margin: auto 0;
  }
  .courses__where {
    max-width: 100%;
    text-align: right;
  }
  .courses__profession {
    max-width: 100%;
    text-align: right;
  }
}
@media screen and (max-width: 740px) {
  .courses__title {
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: 0;
  }
  .courses__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 73px;
  }
  .courses__item, .courses__item-no {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .courses__description {
    max-width: 340px;
    margin: auto 0;
  }
  .courses__where {
    margin-bottom: 4px;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
  }
  .courses__profession {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
  }
}